{% extends 'catalog/home.html' %}
{% load article_tags %}
{% block content %}

<main>
    <div class="container px-4 py-5" id="custom-cards">
        <h2 class="pb-2 border-bottom">Обзор статей</h2>
        <div class="album py-5 bg-body-tertiary">
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="card shadow-sm">
                            <img src="{{ article.preview | media_filter }}" class="card-img-top"
                                 style="height: 200px; width: auto; object-fit: contain;">
                            <div class="card-body">
                                <p class="card-text"><strong>{{ article.title }}</strong></p>
                                <p><strong>&#x1F441 {{ object.number_of_views }}</strong></p>


                                <a class="btn btn-primary btn-sm" href="{% url 'article:articles_list' %}"
                                   role="button">Назад</a>

                                {% if perms.article.change_article %}
                                <a class="btn btn-primary btn-sm" href="{% url 'article:articles_update' article.pk %}"
                                   role="button">Редатировать</a>
                                <a class="btn btn-primary btn-sm" href="{% url 'article:articles_delete' article.pk %}"
                                   role="button">Удалить</a>
                                {% endif %}


                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-6 col-sm-12">
                    <div class="card-header">
                        <p ALIGN="justify">{{ article.content }}</p>
                    </div>
                </div>
                </div>

            </div>
        </div>
    </div>
</main>

{% endblock %}