{% extends 'catalog/home.html' %}
{% load catalog_tags %}
{% block content %}

<div class="mt-3 mb-3">
    <div class="col-lg-11">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            {% if user.is_authenticated %}
            <a class="btn btn-outline-primary" href="{% url 'catalog:products_create' %}">Создать продукт</a>
            {% endif %}
        </div>
    </div>
</div>

<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

            {% for item in products_with_versions %}
            <div class="col">
                <div class="card shadow-sm">
                    <img src="{{ item.product.photo | media_filter }}" class="card-img-top"
                         style="height: 200px; width: auto; object-fit: contain;">
                    <div class="card-body">
                        <p class="card-text">{{ item.product.name }}</p>
                        <p ALIGN="justify"><strong>Описание: </strong>{{ item.product.description | truncatechars:100}}
                        </p>

                        {% if item.active_version %}
                        <p><strong>Текущая версия:</strong> {{ item.active_version.version_name }}</p>
                        {% else %}
                        <p><strong>Текущая версия:</strong> Нет активной версии</p>
                        {% endif %}

                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <div class="button-box">
                                    <a class="btn btn-primary"
                                       href="{% url 'catalog:products_detail' item.product.pk %}"
                                       role="button">Посмотреть</a>

                                    {% if perms.catalog.can_edit_is_active and perms.catalog.can_edit_description and perms.catalog.can_edit_category or user == item.product.owner %}
                                    <a class="btn btn-primary"
                                       href="{% url 'catalog:products_update' item.product.pk %}"
                                       role="button">Редактировать</a>
                                    {% endif %}

                                    {% if item.product.owner == user or user.is_superuser %}
                                    <a class="btn btn-primary"
                                       href="{% url 'catalog:products_delete' item.product.pk %}"
                                       role="button">Удалить</a>
                                    {% endif %}

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}